<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña Exitosa - CashFlow App</title>
    <link rel="stylesheet" type="text/css" href="recoveryPassword.css" />
</head>
<body>
    <div class="email-wrapper">
        <table class="email-table email-table--layout">
            <tr>
                <td>
                    <table class="email-table email-table--content">
                        <tr>
                            <td class="email-header email-header--override">
                                <img src="https://res.cloudinary.com/dwrhhzrar/image/upload/v1724485359/emails/logo-horizontal.png" alt="Logo de CashFlow" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="email-main">
                                <div class="main-container">
                                    <div class="main-content">
                                        <h1>Recuperación de Contraseña Exitosa</h1>
                                        <p>
                                          Nos complace informarte que tu contraseña ha sido recuperada exitosamente, Ahora puedes ingresar a tu cuenta utilizando tu nueva contraseña.
                                        </p>
                                        <p>Gracias por usar CashFlow App.</p>
                                        <p class="post-code-instruction">
                                          Si no realizaste esta acción, por favor contacta a nuestro equipo de soporte inmediatamente.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="email-footer email-footer--override"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>