/*
  Colors
*/
:root {
  /* General */
  --primary-color: #3fa2f6;
  --secondary-color: #00eca6;

  /* States */
  --error-color: #e25050;
  --success-color: #1fbe96;
  --warning-color: #fea83a;
  
  /* Backgrounds */
  --background-color: #f3f4f8;
  --background-color2: #fff;

  /* Text */
  --title-color: #000000;
  --subtitle-color: #717171;
  --text-color: #1F1F1F;
  --link-color: var(--primary-color);
}
