:root {
  /* Dark Mode */
  --dark-background-color: #14151a;
  --dark-background-color2: #282a36;
  --dark-title-color: #fff;
  --dark-subtitle-color: #D1D5DB;
  --dark-text-color: #ffffff;
  --dark-button-background-disabled: rgb(20 21 26 / 50%);
  --dark-button-color-disabled: #9CA3AF;
}