@font-face {
  font-family: 'icomoon';
  src:
    url('../../fonts/icomoon.ttf?3723cn') format('truetype'),
    url('../../fonts/icomoon.woff?3723cn') format('woff'),
    url('../../fonts/icomoon.svg?3723cn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-archive:before {
  content: "\e901";
}
.icon-at-sign:before {
  content: "\e902";
}
.icon-book-open:before {
  content: "\e903";
}
.icon-box:before {
  content: "\e904";
}
.icon-briefcase:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e907";
}
.icon-cast:before {
  content: "\e908";
}
.icon-clipboard:before {
  content: "\e909";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-coffee:before {
  content: "\e90b";
}
.icon-credit-card:before {
  content: "\e90c";
}
.icon-database:before {
  content: "\e90d";
}
.icon-dollar-sign:before {
  content: "\e90e";
}
.icon-edit-3:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-fast-forward:before {
  content: "\e911";
}
.icon-feather:before {
  content: "\e912";
}
.icon-file-text:before {
  content: "\e913";
}
.icon-film:before {
  content: "\e914";
}
.icon-flag:before {
  content: "\e915";
}
.icon-folder:before {
  content: "\e916";
}
.icon-frown:before {
  content: "\e917";
}
.icon-gift:before {
  content: "\e918";
}
.icon-globe:before {
  content: "\e919";
}
.icon-grid:before {
  content: "\e91a";
}
.icon-hard-drive:before {
  content: "\e91b";
}
.icon-hash:before {
  content: "\e91c";
}
.icon-headphones:before {
  content: "\e91d";
}
.icon-heart:before {
  content: "\e91e";
}
.icon-home:before {
  content: "\e91f";
}
.icon-image:before {
  content: "\e920";
}
.icon-inbox:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-key:before {
  content: "\e923";
}
.icon-lock:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e925";
}
.icon-map:before {
  content: "\e926";
}
.icon-map-pin:before {
  content: "\e927";
}
.icon-meh:before {
  content: "\e928";
}
.icon-message-circle:before {
  content: "\e929";
}
.icon-mic:before {
  content: "\e92a";
}
.icon-monitor:before {
  content: "\e92b";
}
.icon-moon:before {
  content: "\e92c";
}
.icon-music:before {
  content: "\e92d";
}
.icon-package:before {
  content: "\e92e";
}
.icon-paperclip:before {
  content: "\e92f";
}
.icon-pen-tool:before {
  content: "\e930";
}
.icon-percent:before {
  content: "\e931";
}
.icon-phone:before {
  content: "\e932";
}
.icon-phone-call:before {
  content: "\e933";
}
.icon-pie-chart:before {
  content: "\e934";
}
.icon-play-circle:before {
  content: "\e935";
}
.icon-printer:before {
  content: "\e936";
}
.icon-save:before {
  content: "\e937";
}
.icon-scissors:before {
  content: "\e938";
}
.icon-search:before {
  content: "\e939";
}
.icon-send:before {
  content: "\e93a";
}
.icon-server:before {
  content: "\e93b";
}
.icon-settings:before {
  content: "\e93c";
}
.icon-share-2:before {
  content: "\e93d";
}
.icon-shield:before {
  content: "\e93e";
}
.icon-shopping-bag:before {
  content: "\e93f";
}
.icon-shopping-cart:before {
  content: "\e940";
}
.icon-smartphone:before {
  content: "\e941";
}
.icon-smile:before {
  content: "\e942";
}
.icon-speaker:before {
  content: "\e943";
}
.icon-star:before {
  content: "\e944";
}
.icon-sun:before {
  content: "\e945";
}
.icon-tag:before {
  content: "\e946";
}
.icon-terminal:before {
  content: "\e947";
}
.icon-thermometer:before {
  content: "\e948";
}
.icon-thumbs-down:before {
  content: "\e949";
}
.icon-thumbs-up:before {
  content: "\e94a";
}
.icon-tool:before {
  content: "\e94b";
}
.icon-trash:before {
  content: "\e94c";
}
.icon-trello:before {
  content: "\e94d";
}
.icon-triangle:before {
  content: "\e94e";
}
.icon-truck:before {
  content: "\e94f";
}
.icon-tv:before {
  content: "\e950";
}
.icon-twitch:before {
  content: "\e951";
}
.icon-type:before {
  content: "\e952";
}
.icon-umbrella:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e954";
}
.icon-video:before {
  content: "\e955";
}
.icon-volume-2:before {
  content: "\e956";
}
.icon-wifi:before {
  content: "\e957";
}
.icon-wind:before {
  content: "\e958";
}
.icon-youtube:before {
  content: "\e959";
}
.icon-zap:before {
  content: "\e95a";
}
