<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Correo Electrónico - CashFlow App</title>
    <link rel="stylesheet" type="text/css" href="verifyEmail.css" />
</head>
<body>
    <div class="email-wrapper">
        <table class="email-table email-table--layout">
            <tr>
                <td>
                    <table class="email-table email-table--content">
                        <tr>
                            <td class="email-header email-header--override">
                                <img src="https://res.cloudinary.com/dwrhhzrar/image/upload/v1724485359/emails/logo-horizontal.png" alt="Logo de CashFlow" class="image">
                            </td>
                        </tr>
                        <tr>
                            <td class="email-main">
                                <div class="main-container">
                                    <div class="main-content">
                                        <h1>Verifica tu Correo Electrónico</h1>
                                        <p>
                                            ¡Hola! Gracias por registrarte en CashFlow App. Para completar tu registro, necesitamos que verifiques tu dirección de correo electrónico.
                                        </p>
                                        <p>
                                            Haz clic en el siguiente enlace para verificar tu correo electrónico:
                                        </p>
                                        <p style="text-align: center;">
                                            <a href="{{link}}" class="btn">Verificar Correo Electrónico</a>
                                        </p>
                                        <p>
                                            Si no creaste una cuenta en CashFlow App, por favor ignora este correo o contacta a nuestro equipo de soporte.
                                        </p>
                                        <p>
                                            Gracias por confiar en CashFlow App.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="email-footer email-footer--override">
                                <!-- Footer content (Opcional) -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
